@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="body flex-grow-1 px-3">
    <div class="container-lg">
        <div class="row">
            <div class="col-md-4">
                <h4>Tình trạng</h4>
                <ul class="nav nav-pills">
                    <li class="nav-item">
                        <a href="javascript:void(0)">Toàn bộ</a>
                    </li>
                    <li class="nav-item">
                        <a href="javascript:void(0)">Đang ra</a>
                    </li>
                    <li class="nav-item">
                        <a href="javascript:void(0)">Hoàn thành</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-8">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <div class="row">
                            <div class="user--photo col-md-auto">
                                <a href="javascript:void(0)">
                                    <img src="/image/test3.jpg">
                                </a>
                            </div>
                            <div class="user--discussion col">
                                <p class="users">
                                    <a href="javascript:void(0)">kfc group</a>
                                    <span>bá tánh bình dân</span>
                                </p>
                                <p class="comments">truyện hay truyện hay truyện hay truyện hay truyện hay truyện hay ruyện hay truyện hay truyện hay truyện hay truyện hayruyện hay truyện hay truyện hay truyện hay truyện hayruyện hay truyện h
                                ay truyện hay truyện hay truyện hayruyện hay tru
                                yện hay truyện hay truyện hay truyện hay</p>
                                <p class="info--wrap">
                                    <span>2 hrs</span>
                                    <a href="javascript:void(0)">
                                        <i class="fa-solid fa-square-caret-up info-icon rate-up"></i>
                                        0
                                    </a>
                                    <a href="javascript:void(0)">
                                        <i class="fa-solid fa-square-caret-down info-icon rate-down"></i>
                                        0
                                    </a>
                                </p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>