@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    int numberOfBooks = ViewBag.NumberOfBooks;
    int numberOfFinishedBooks = ViewBag.NumberOfFinishedBooks;
    int numberOfUsers = ViewBag.NumberOfUsers;
    int numberOfChapters = ViewBag.NumberOfChapters;
    int numberOfComments = ViewBag.NumberOfComments;
    int numberOfReviews = ViewBag.NumberOfReviews;
}
<style>
    .chart-container {
      position: relative;
      margin: auto;
      height: 50vh;
      width: 80vw;
    }

</style>


<div class="body flex-grow-1 px-3">
    <div class="container-lg">
        <div class="row">
            <div class="col-6 col-lg-4">
                <div class="card">
                    <div class="card-body p-3 d-flex align-items-center">
                        <div class="bg-primary text-white p-3 me-3">
                            <svg class="icon icon-xl">
                                <use xlink:href="vendors/@@coreui/icons/svg/free.svg#cil-settings"></use>
                            </svg>
                        </div>
                        <div>
                            <div class="fs-6 fw-semibold text-primary">@numberOfUsers</div>
                            <div class="text-medium-emphasis text-uppercase fw-semibold small">Số người dùng</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6 col-lg-4">
                <div class="card">
                    <div class="card-body p-3 d-flex align-items-center">
                        <div class="bg-success text-white p-3 me-3">
                            <svg class="icon icon-xl">
                                <use xlink:href="vendors/@@coreui/icons/svg/free.svg#cil-settings"></use>
                            </svg>
                        </div>
                        <div>
                            <div class="fs-6 fw-semibold text-success">@numberOfBooks truyện</div>
                            <div class="text-medium-emphasis text-uppercase fw-semibold small">Tổng số truyện</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6 col-lg-4">
                <div class="card">
                    <div class="card-body p-3 d-flex align-items-center">
                        <div class="bg-warning text-white p-3 me-3">
                            <svg class="icon icon-xl">
                                <use xlink:href="vendors/@@coreui/icons/svg/free.svg#cil-settings"></use>
                            </svg>
                        </div>
                        <div>
                            <div class="fs-6 fw-semibold text-warning">@numberOfFinishedBooks truyện</div>
                            <div class="text-medium-emphasis text-uppercase fw-semibold small">Truyện đã hoàn thành</div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.col-->
        </div>
        <br>
        <div class="row">
            <div class="col-6 col-lg-4">
                <div class="card">
                    <div class="card-body p-3 d-flex align-items-center">
                        <div class="bg-info text-white p-3 me-3">
                            <svg class="icon icon-xl">
                                <use xlink:href="vendors/@@coreui/icons/svg/free.svg#cil-settings"></use>
                            </svg>
                        </div>
                        <div>
                            <div class="fs-6 fw-semibold text-info">@numberOfChapters chương</div>
                            <div class="text-medium-emphasis text-uppercase fw-semibold small">Số chương đã duyệt</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6 col-lg-4">
                <div class="card">
                    <div class="card-body p-3 d-flex align-items-center">
                        <div class="bg-danger text-white p-3 me-3">
                            <svg class="icon icon-xl">
                                <use xlink:href="vendors/@@coreui/icons/svg/free.svg#cil-settings"></use>
                            </svg>
                        </div>
                        <div>
                            <div class="fs-6 fw-semibold text-danger">@numberOfComments bình luận</div>
                            <div class="text-medium-emphasis text-uppercase fw-semibold small">Số lượt bình luận</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6 col-lg-4">
                <div class="card">
                    <div class="card-body p-3 d-flex align-items-center">
                        <div class="bg-dark text-white p-3 me-3">
                            <svg class="icon icon-xl">
                                <use xlink:href="vendors/@@coreui/icons/svg/free.svg#cil-settings"></use>
                            </svg>
                        </div>
                        <div>
                            <div class="fs-6 fw-semibold text-dark">@numberOfReviews review</div>
                            <div class="text-medium-emphasis text-uppercase fw-semibold small">Số lượt review</div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.col-->
        </div>
        <br>

        <div class="chart-container">
            <canvas id="chart"></canvas>
        </div>


    </div>
</div>

@section Scripts{
    <script type="text/javascript" src="~/js/utils/utils.js"></script>
    <script type="text/javascript" src="~/content/chart.js"></script>
}