
<a class="dropdown-button right" data-hover="true" data-beloworigin="true"
   data-constrainwidth="false" data-activates='ddRankRank'
   style="font-size: 1.23rem; color: #666666;">Lọc theo<i class="fa fa-sort-desc" aria-hidden="true" style="font-size: 1.6rem; margin: 0 0.4rem; vertical-align: top; line-height: 1.2rem"></i></a>
<ul id='ddRankRank' class='dropdown-content'>
    <li class="active"><a href="/bang-xep-hang?order=down">Mới nhất</a></li>
    <li class=""><a href="/bang-xep-hang?order=up">Cũ nhất</a></li>
</ul>