<a class="dropdown-button" data-hover="true" data-beloworigin="true"
   data-constrainwidth="false" data-activates='ddRankFilter'
   style="font-size: 1.23rem; color: #666666;">Xếp theo<i class="fa fa-sort-desc" aria-hidden="true" style="font-size: 1.6rem; margin: 0 0.4rem; vertical-align: top; line-height: 1.2rem"></i></a>
<ul id='ddRankFilter' class='dropdown-content'>
    <li class="active"><a href="/bang-xep-hang?sort_by=like">Lượt yêu thích</a></li>
    <li class=""><a href="/bang-xep-hang?sort_by=recommend">Lượt đề cử</a></li>
    <li class=""><a href="/bang-xep-hang?sort_by=follow">Lượt theo dõi</a></li>
    <li class=""><a href="/bang-xep-hang?sort_by=view">Lượt đọc</a></li>
</ul>