th {
    color: #ebedef;
}

.container-lg {
    margin-bottom: 20px;
}

.edit--main-body {
    margin-left: auto;
    margin-right: auto;
}

.editor--header {
    margin: 0;
    padding: 10px 13px;
}

.editor--title,
.editor--content,
.editor--img-wrap {
    margin: 0;
    padding: 10px;
}

.tox.tox-tinymce {
    margin: 11px;
}

.editor--img-container {
    width: 100px;
    height: 120px;
}

    .editor--img-container img {
        width: 100%;
        height: 100%;
    }

.editor--img-wrap button {
    margin-top: 10px;
}

.sub-catagory {
    display: flex;
}

    .sub-catagory > .form-check {
        margin-right: 10px;
    }

.submit-btn {
    margin-top: 10px;
    width: 100px;
    margin-bottom: 10px;
    margin-left: 10px;
}

h4.editor--title {
    font-size: 17px;
}
textarea {
    
    margin-left: 11px;
}
@media only screen and (max-width: 767px) {
    .sub-catagory {
        display: block;
    }
}
