<div class="col-md-12">
    <div class="box-footer">
        <div class="box-footer clearfix">
            <ul class="pagination justify-content-end">
            </ul>
        </div>
    </div>
</div>