@using NovelWebsite.NovelWebsite.Core.Models;
@model IEnumerable<BannerModel>

<div id="demo" class="index__slider carousel slide col-md-6" data-bs-ride="carousel">
    <div class="carousel-inner" id="banner-carousel">
        @foreach (var item in Model)
        {
            <div class="carousel-item active">
                <img src="@item.BannerImage" class="d-block w-100" alt="...">
            </div>
        }
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
        <span class="carousel-control-prev-icon"></span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
        <span class="carousel-control-next-icon"></span>
    </button>
</div>