<!DOCTYPE html>
<html lang="en">
<head>
    <title>Test</title> 
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="~/css/index.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <script type="text/javascript" src="~/js/scrollbutton.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script type="text/javascript" src="~/js/changbtn.js"></script>
    @*  <script type="text/javascript" src="~/tinymce/js/tinymce/tinymce.min.js"></script>
    <script type="text/javascript" src="~/js/tinymcescript.js"></script>*@
    <script type="text/javascript" src="~/ckeditor5-build-decoupled-document/ckeditor.js"></script>
    @*<script type="text/javascript" src="~/ckeditor5-build-decoupled-document/ckeditor.js.map" defer></script>*@
    <script type="text/javascript" src="~/ckeditor5-build-decoupled-document/translations/vi.js"></script>
</head>
<body>
    <button onclick="topFunction()" class="myBtn" title="Go to top"><i class="fa-solid fa-arrow-up"></i></button>
    <header>
        <div class="header__main">
            <div class="header__box--center row">
                <div class="mobile">
                    <label for="nav-mobile-input" class="nav__bars-btn">
                        <svg class="bar" xmlns="http://www.w3.org/2000/svg"
                             viewBox="0 0 448 512">
                            <path d="M0 96C0 78.3 14.3 64 32 64H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32C14.3 128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32H32c-17.7 0-32-14.3-32-32s14.3-32 32-32H416c17.7 0 32 14.3 32 32z" />
                        </svg>
                    </label>

                    <input type="checkbox" class="nav__input" id="nav-mobile-input">
                    <lable for="nav-mobile-input" class="nav__overlay"></lable>
                    <div class="navbar_mobile navbar-expand-md">
                        <div class="navbarmobile__main">
                            <ul class="nav_mobile navbar-nav">

                                <li class="nav_mobile-item navlist">
                                    <a class="nav_mobile-link navlist--item" href="javascript:void(0)">Diễn đàn</a>
                                </li>
                                <li class="nav_mobile-item navlist">
                                    <a class="nav_mobile-link navlist--item" href="/bang-xep-hang">
                                        Bảng xếp
                                        hạng
                                    </a>
                                </li>
                                <li class="nav_mobile-item navlist">
                                    <a class="nav_mobile-link navlist--item" href="/bo-loc">Bộ lọc</a>
                                </li>
                                <li class="nav_mobile-item navlist">
                                    <a class="nav_mobile-link navlist--item" href="/review">Reviews</a>
                                </li>
                                <li class="nav_mobile-item navlist">
                                    <a class="nav_mobile-link navlist--item" id="tin" href="/tin-tuc">Tin tức</a>
                                </li>
                            </ul>

                        </div>
                    </div>
                </div>
                <div class="col logo">
                    <a href="/" data-eid="qd_A11">
                    </a>
                </div>

                <div class="col search input-group">
                    <form method="get" action="/bo-loc/">
                        <input type="text" class="form-control shadow-none" name="searchName" placeholder="Nhập tên truyện">
                        <button class="btn btn-success btn--search-color" type="submit" title="searchButton">
                            <i class="fa-solid fa-magnifying-glass search__btn--icons"></i>
                        </button>
                    </form>
                </div>


                <div class="dropdown col-md-1 category-dropdown">
                    <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown">
                        Thể loại
                    </button>
                    <div class="dropdown-menu mutli-column">
                        <div class="row" id="chapter-category">
                            <ul class="col-md-4">
                                <li><a href="javascript:void(0)">Tiên hiệp</a></li>
                                <li><a href="javascript:void(0)">Huyền huyễn</a></li>
                                <li><a href="javascript:void(0)">Đô thị</a></li>
                                <li><a href="javascript:void(0)">Khoa huyễn</a></li>
                                <li><a href="javascript:void(0)">Kỳ huyễn</a></li>
                            </ul>
                            <ul class="col-md-4">
                                <li><a href="javascript:void(0)">Lịch sử</a></li>
                                <li><a href="javascript:void(0)">Đồng nhân</a></li>
                                <li><a href="javascript:void(0)">Quân sự</a></li>
                                <li><a href="javascript:void(0)">Võ hiệp</a></li>
                            </ul>
                            <ul class="col-md-4">
                                <li><a href="javascript:void(0)">Cạnh ký</a></li>
                                <li><a href="javascript:void(0)">Linh dị</a></li>
                                <li><a href="javascript:void(0)">Ngôn tình</a></li>
                                <li><a href="javascript:void(0)">Du hí</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col login">
                    <a href="#" data-bs-toggle="modal" data-bs-target="#dangnhap">
                        <i class="fa-solid fa-user"></i>
                        Tài khoản
                        <i class="fa-solid fa-right-to-bracket"></i>
                    </a>
                </div>

                <div class="modal fade" id="taixuong">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <!-- Modal Header -->
                            <div class="modal-header">
                                <h4 class="modal-title">Tải xuống</h4>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                            </div>
                            <!-- Modal body -->
                            <div class="modal-body">
                                PHẦN MỀM ĐANG TRONG QUÁ TRÌNH HOÀN THIỆN
                                <br>
                                MỜI BẠN QUAY LẠI SAU!
                            </div>
                            <!-- Modal footer -->
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Đóng</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal fade" id="dangnhap">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <!-- Modal Header -->
                            <div class="modal-header">
                                <h4 class="modal-title">Đăng nhập</h4>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                            </div>
                            <!-- Modal body -->
                            <form class="needs-validation" id="login-form" method="post">
                                <div class="modal-body" id="modal-body-login">
                                    <div class="form-floating mb-3 mt-3">
                                        <input type="text" class="form-control" name="AccountName" placeholder="Tên đăng nhập" required>
                                        <label><i class="fa-solid fa-user modal--icon"></i>Tên đăng nhập</label>
                                    </div>
                                    <div class="form-floating mt-3 mb-3">
                                        <input type="password" class="form-control" name="Password" placeholder="Mật khẩu" required>
                                        <label><i class="fa-solid fa-key modal--icon"></i>Mật khẩu</label>
                                    </div>
                                    
                                    <div class="social-auth-links text-center">
                                          <a href="/login-facebook" class="btn btn-block btn-social btn-facebook btn-flat"><i class="fa-brands fa-facebook" style="color: white"></i> Log in using
                                            Facebook</a><br />
                                          <a href="/login-google" class="btn btn-block btn-social btn-google btn-flat"><i class="fa-brands fa-google" style="color: white"></i> Log in using
                                            Google+</a>
                                    </div>
                                </div>
                                <!-- Modal footer -->
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-success" onclick="Login()">Đăng nhập</button>
                                    <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#dangky">Đăng ký</button>
                                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Đóng</button>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>

                <div class="modal fade" id="dangky">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <!-- Modal Header -->
                            <div class="modal-header">
                                <h4 class="modal-title">Đăng ký</h4>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                            </div>
                            <!-- Modal body -->
                            <form class="needs-validation" id="signup-form">
                                <div class="modal-body" id="modal-body-signup">
                                    <div class="form-floating mb-3 mt-3">
                                        <input type="text" class="form-control" id="tendangnhap2" placeholder="Tên đăng nhập" name="AccountName">
                                        <label for="tdn"><i class="fa-solid fa-user modal--icon"></i>Tên đăng nhập</label>
                                    </div>
                                    <div class="form-floating mb-3 mt-3">
                                        <input type="email" class="form-control" id="email2" placeholder="Email" name="Email">
                                        <label for="eml"><i class="fa-solid fa-envelope modal--icon"></i></i>Email</label>
                                    </div>
                                    <div class="form-floating mt-3 mb-3">
                                        <input type="password" class="form-control" id="matkhau2" placeholder="Mật khẩu" name="Password">
                                        <label for="mk"><i class="fa-solid fa-key modal--icon"></i>Mật khẩu</label>
                                    </div>

                                    <div class="form-floating mt-3 mb-3">
                                        <input type="password" class="form-control" id="nlmatkhau2" placeholder="Nhập lại mật khẩu" name="PasswordAgain">
                                        <label for="rmk"><i class="fa-solid fa-key modal--icon"></i>Nhập lại mật khẩu</label>
                                    </div>
                                    <div class="social-auth-links text-center">
                                          <a href="/signup-facebook" class="btn btn-block btn-social btn-facebook btn-flat"><i class="fa-brands fa-facebook" style="color: white"></i> Sign up using
                                            Facebook</a><br />
                                          <a href="/signup-google" class="btn btn-block btn-social btn-google btn-flat"><i class="fa-brands fa-google" style="color: white"></i> Sign up using
                                            Google+</a>
                                    </div>
                                </div>
                                <!-- Modal footer -->
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-success" onclick="Signup()">Đăng ký</button>
                                    <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#dangnhap">Đăng nhập</button>
                                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Đóng</button>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>

            </div>

            <div class="navbar navbar-expand-md">
                <div class="navbar__main">
                    <ul class="nav navbar-nav">
                        <li class="nav-item--trangchu">
                            <a href="/">
                                <span>
                                    <i class="fa-solid fa-list"></i>
                                    Trang chủ
                                </span>
                            </a>
                        </li>
                        <li class="nav-item navlist">
                            <a class="nav-link navlist--item" href="/bang-xep-hang">Bảng xếp hạng</a>
                        </li>
                        <li class="nav-item navlist">
                            <a class="nav-link navlist--item" href="/bo-loc">Bộ lọc</a>
                        </li>
                        <li class="nav-item navlist">
                            <a class="nav-link navlist--item" href="/review">Reviews</a>
                        </li>
                        <li class="nav-item navlist">
                            <a class="nav-link navlist--item" href="/tin-tuc">Tin tức</a>
                        </li>
                    </ul>

                </div>
            </div>
        </div>
    </header>

    @RenderBody()

    <footer>
        <div class="footer--container">
            <div class="row footer--inside-container">
                <div class="col-md-3">
                    <img src="~/image/Illustration4.png" height="60" width="100%" alt="logoweb">
                </div>
                <div class="col-md-9 footer--text">
                    <i class="fa-regular fa-copyright"></i>
                    Đây là sản phẩm giả tưởng
                    Không có giá trị thương mại
                    <a href="javascript:void(0)">Điều khoản sử dụng</a>
                    <br>
                    Đây là sân chơi mở và free cho cộng đồng fan kiếm hiệp, tiên hiệp, ngôn tình.
                    Chúc các bạn có những giây phút thư giãn thoải mái sau giờ làm việc và học tập căng thẳng.
                </div>
            </div>
        </div>
    </footer>
    <script type="text/javascript" src="~/content/layout.js"></script>
   @* <script type="text/javascript" src="~/content/login.js"></script>*@
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>


