@using NovelWebsite.NovelWebsite.Core.Models;
@model IEnumerable<BookModel>

<div class="index__truyenmoi col-md-3">
    <h4>Truyện mới cập nhật</h4>
    <div class="index__truyenmoi--list">
        <ul class="list-group list-group-flush" id="new-chapters">
            @foreach (var item in Model)
            {
                <li class="list-group-item">
                    <i class="fa-solid fa-book-open"></i>
                    <a href="/html/truyen.html">Thanh liên chi đỉnh</a>
                    <span class="index__truyenmoi--chuong">@item.TotalChapters chương</span>
                </li>
            }
        </ul>
    </div>
</div>