@using NovelWebsite.NovelWebsite.Core.Models;
@model IEnumerable<PostModel>

<div class="index__tintuc col-md-3">
    <div class="index__notice">
        <h3>Tin tức</h3>
        <div class="index__notice--list">
            <ul class="list-group list-group-flush" id="new-posts">
                @{
                    int idx = 0;
                    foreach (var item in Model)
                    {
                        <li class="list-group-item @(idx % 2 == 0 ? "odd" : "")">
                            <i class="fa-solid fa-share"></i>
                            <a href="javascript:void(0)">Đăng ký convert</a>
                        </li>
                        idx++;
                    }
                }
            </ul>
        </div>
    </div>
</div>