th {
    color: #ebedef;
}

form {
    margin-bottom: 20px;
}

.category-select-picture {
    padding: 0;
    margin: 0;
}

.category-img-container {
    width: 100px;
    height: 100px;
}

.category-img-container img {
    width: 100%;
    height: 100%;
}

.category-img {
    width: 50px;
    height: 50px;
}

.category-img img {
    width: 100%;
    height: 100%;
}