@using NovelWebsite.NovelWebsite.Core.Enums;
@using NovelWebsite.NovelWebsite.Core.Models;
@model UserModel

<div class="col notification col-md-2 header-ele-container">
    <a href="#" data-bs-toggle="modal" data-bs-target="#dangnhap">
        <i class="fa-solid fa-bell"></i>
        Thông báo
    </a>
</div>

<div class="dropdown">
    <button class="btn btn-secondary" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <img src="${user.user.avatar}" class="user-home-img">
        <div class="user-home-name"><p>${user.user.userName}</p></div>
    </button>
    <ul class="dropdown-menu user-function dropdown-menu-end" aria-labelledby="dropdownMenuButton1">
        <li><a class="dropdown-item" href="/ho-so/${user.userId}">Hồ sơ</a></li>
        <li><a class="dropdown-item" href="/ho-so/${user.userId}/tu-truyen">Tủ truyện</a></li>
        <li><a class="dropdown-item" href="/ho-so/${user.userId}/truyen-da-dang">Truyện đã đăng</a></li>
        <li><a class="dropdown-item" href="/dang-tai/${user.userId}/truyen">Đăng tải</a></li>
        <div class="dropdown-divider"></div>
        <li><a class="dropdown-item" href="/logout">Đăng xuất</a></li>
    </ul>
</div>