@using NovelWebsite.NovelWebsite.Core.Constants;
@using NovelWebsite.NovelWebsite.Core.Enums;
@{
    ViewData["Title"] = "Home Page";
}

<div class="index__row row">
    @await Component.InvokeAsync("HomeCategory")
    @await Component.InvokeAsync("HomeBanner")
    @await Component.InvokeAsync("HomePost")
</div>

<div class="index__row row">
    @await Component.InvokeAsync("BookTrending")
    @await Component.InvokeAsync("BookEditorRecommend")
</div>

<div class="index__banner">
    <a href="javascript:void(0)"><img src="/image/test.jpg" class="banner-sm"></a>
</div>

<div class="index__row row">
    @await Component.InvokeAsync("TopBooksByInteraction", InteractionType.Recommend);
    @await Component.InvokeAsync("TopBooksByInteraction", InteractionType.View);
    @await Component.InvokeAsync("TopBooksByInteraction", InteractionType.Like);
    @await Component.InvokeAsync("TopBooksByInteraction", InteractionType.Follow);
</div>

<div class="index__banner">
    <a href="javascript:void(0)"><img src="/image/test2.jpg" class="banner-sm"></a>
</div>

@await Component.InvokeAsync("TopBooksByBookStatus", BookStatus.Ongoing);

<div class="index__banner">
    <a href="javascript:void(0)"><img src="/image/test.jpg" class="banner-sm"></a>
</div>

@await Component.InvokeAsync("TopBooksByBookStatus", BookStatus.Complete);


@section Scripts{
    <script type="text/javascript" src="~/content/index.js"></script>
}