@{
    ViewData["Title"] = "Home Page";
}

<div class="index__row row">
    <div class="index__theloai col-md-3">
        <div class="index__theloai--wrap">
            <div class="index__theloai--chitiet row">
                <div class="index__theloai--chitiet-cot col-md-6">
                    <a href="javascript:void(0)">
                        <i class="fa-solid fa-tags"></i>
                        <span>
                            <p class="tentruyen">Tiên hiệp</p>
                            <p class="soluongtruyen">1911</p>
                        </span>

                    </a>
                </div>
                <div class="index__theloai--chitiet-cot col-md-6">
                    <a href="javascript:void(0)">
                        <i class="fa-solid fa-tags"></i>
                        <span>
                            <p class="tentruyen">Huyền huyễn</p>
                            <p class="soluongtruyen">1911</p>
                        </span>
                    </a>
                </div>
            </div>
            <div class="index__theloai--chitiet row">
                <div class="index__theloai--chitiet-cot col-md-6">
                    <a href="javascript:void(0)">
                        <i class="fa-solid fa-tags"></i>
                        <span>
                            <p class="tentruyen">Đô thị</p>
                            <p class="soluongtruyen">1911</p>
                        </span>
                    </a>
                </div>
                <div class="index__theloai--chitiet-cot col-md-6">
                    <a href="javascript:void(0)">
                        <i class="fa-solid fa-tags"></i>
                        <span>
                            <p class="tentruyen">Khoa huyễn</p>
                            <p class="soluongtruyen">1911</p>
                        </span>
                    </a>
                </div>
            </div>
            <div class="index__theloai--chitiet row">
                <div class="index__theloai--chitiet-cot col-md-6">
                    <a href="javascript:void(0)">
                        <i class="fa-solid fa-tags"></i>
                        <span>
                            <p class="tentruyen">Kỳ huyễn</p>
                            <p class="soluongtruyen">1911</p>
                        </span>
                    </a>
                </div>
                <div class="index__theloai--chitiet-cot col-md-6">
                    <a href="javascript:void(0)">
                        <i class="fa-solid fa-tags"></i>
                        <span>
                            <p class="tentruyen">Võ hiệp</p>
                            <p class="soluongtruyen">1911</p>
                        </span>
                    </a>
                </div>
            </div>
            <div class="index__theloai--chitiet row">
                <div class="index__theloai--chitiet-cot col-md-6">
                    <a href="javascript:void(0)">
                        <i class="fa-solid fa-tags"></i>
                        <span>
                            <p class="tentruyen">Lịch sử</p>
                            <p class="soluongtruyen">1911</p>
                        </span>
                    </a>
                </div>
                <div class="index__theloai--chitiet-cot col-md-6">
                    <a href="javascript:void(0)">
                        <i class="fa-solid fa-tags"></i>
                        <span>
                            <p class="tentruyen">Đồng nhân</p>
                            <p class="soluongtruyen">1911</p>
                        </span>
                    </a>
                </div>
            </div>
            <div class="index__theloai--chitiet row">
                <div class="index__theloai--chitiet-cot col-md-6">
                    <a href="javascript:void(0)">
                        <i class="fa-solid fa-tags"></i>
                        <span>
                            <p class="tentruyen">Quân sự</p>
                            <p class="soluongtruyen">1911</p>
                        </span>
                    </a>
                </div>
                <div class="index__theloai--chitiet-cot col-md-6">
                    <a href="javascript:void(0)">
                        <i class="fa-solid fa-tags"></i>
                        <span>
                            <p class="tentruyen">Du hí</p>
                            <p class="soluongtruyen">1911</p>
                        </span>
                    </a>
                </div>
            </div>
            <div class="index__theloai--chitiet row">
                <div class="index__theloai--chitiet-cot col-md-6">
                    <a href="javascript:void(0)">
                        <i class="fa-solid fa-tags"></i>
                        <span>
                            <p class="tentruyen">Cạnh ký</p>
                            <p class="soluongtruyen">1911</p>
                        </span>
                    </a>
                </div>
                <div class="index__theloai--chitiet-cot col-md-6">
                    <a href="javascript:void(0)">
                        <i class="fa-solid fa-tags"></i>
                        <span>
                            <p class="tentruyen">Linh dị</p>
                            <p class="soluongtruyen">1911</p>
                        </span>
                    </a>
                </div>
            </div>
            <div class="index__theloai--chitiet row">
                <div class="index__theloai--chitiet-cot col-md-6">
                    <a href="javascript:void(0)">
                        <i class="fa-solid fa-tags"></i>
                        <span>
                            <p class="tentruyen">Ngôn tình</p>
                            <p class="soluongtruyen">1911</p>
                        </span>
                    </a>
                </div>
                <div class="index__theloai--chitiet-cot col-md-6">
                    <a href="javascript:void(0)">
                        <i class="fa-solid fa-bars"></i>
                        <span>
                            <p class="tentruyen tatca">Tất cả</p>
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div id="demo" class="index__slider carousel slide col-md-6" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
            <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
            <button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
        </div>
        <div class="carousel-inner" id="banner-carousel">
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
            <span class="carousel-control-next-icon"></span>
        </button>
    </div>

    <div class="index__tintuc col-md-3">
        <div class="index__notice">
            <h3>Tin tức</h3>
            <div class="index__notice--list">
                <ul class="list-group list-group-flush" id="new-posts">
                    <li class="list-group-item odd">
                        <i class="fa-solid fa-share"></i>
                        <a href="javascript:void(0)">Đăng ký convert</a>
                    </li>
                    <li class="list-group-item">
                        <i class="fa-solid fa-share"></i>
                        <a href="javascript:void(0)">Bảng lương convert</a>
                    </li>
                    <li class="list-group-item odd">
                        <i class="fa-solid fa-share"></i>
                        <a href="javascript:void(0)">Kiếm tiền</a>
                    </li>
                    <li class="list-group-item">
                        <i class="fa-solid fa-share"></i>
                        <a href="javascript:void(0)">Đơn vị tiền</a>
                    </li>
                    <li class="list-group-item odd">
                        <i class="fa-solid fa-share"></i>
                        <a href="javascript:void(0)">Các bước thành converter</a>
                    </li>
                    <li class="list-group-item">
                        <i class="fa-solid fa-share"></i>
                        <a href="javascript:void(0)">Tin hot 1</a>
                    </li>
                    <li class="list-group-item odd">
                        <i class="fa-solid fa-share"></i>
                        <a href="javascript:void(0)">Tin hot 2</a>
                    </li>
                    <li class="list-group-item">
                        <i class="fa-solid fa-share"></i>
                        <a href="javascript:void(0)">Tin hot 3</a>
                    </li>
                    <li class="list-group-item odd">
                        <i class="fa-solid fa-share"></i>
                        <a href="javascript:void(0)">Tin hot 4</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="index__row row">
    <div class="index__truyenmoi col-md-3">
        <h4>Truyện mới cập nhật</h4>
        <div class="index__truyenmoi--list">
            <ul class="list-group list-group-flush" id="new-chapters">
                <li class="list-group-item">
                    <i class="fa-solid fa-book-open"></i>
                    <a href="/html/truyen.html">Thanh liên chi đỉnh</a>
                    <span class="index__truyenmoi--chuong">Chương 1</span>
                </li>
                <li class="list-group-item">
                    <i class="fa-solid fa-book-open"></i>
                    <a href="/html/truyen.html">Đấu la đại lục</a>
                    <span class="index__truyenmoi--chuong">Chương 1</span>
                </li>
                <li class="list-group-item">
                    <i class="fa-solid fa-book-open"></i>
                    <a href="/html/truyen.html">Bà võ</a>
                    <span class="index__truyenmoi--chuong">Chương 1</span>
                </li>
                <li class="list-group-item">
                    <i class="fa-solid fa-book-open"></i>
                    <a href="/html/truyen.html">Bắc âm đại thanh</a>
                    <span class="index__truyenmoi--chuong">Chương 1</span>
                </li>
                <li class="list-group-item">
                    <i class="fa-solid fa-book-open"></i>
                    <a href="/html/truyen.html">Cẩu tại dị giới</a>
                    <span class="index__truyenmoi--chuong">Chương 1</span>
                </li>
                <li class="list-group-item">
                    <i class="fa-solid fa-book-open"></i>
                    <a href="/html/truyen.html">Luân hồi lạc viên</a>
                    <span class="index__truyenmoi--chuong">Chương 1</span>
                </li>
                <li class="list-group-item">
                    <i class="fa-solid fa-book-open"></i>
                    <a href="/html/truyen.html">Đại thừa ký</a>
                    <span class="index__truyenmoi--chuong">Chương 1</span>
                </li>
                <li class="list-group-item">
                    <i class="fa-solid fa-book-open"></i>
                    <a href="/html/truyen.html">Đại thừa ký</a>
                    <span class="index__truyenmoi--chuong">Chương 1</span>
                </li>
                <li class="list-group-item">
                    <i class="fa-solid fa-book-open"></i>
                    <a href="/html/truyen.html">Đại thừa ký</a>
                    <span class="index__truyenmoi--chuong">Chương 1</span>
                </li>
            </ul>
        </div>
    </div>
    <div class="index__btv__mobile">
        <h4 class="index__truyenmoi--title">
            Biên tập viên đề cử
            <a href="/bo-loc">
                Tất cả
                <i class="fa-solid fa-chevron-right"></i>
            </a>
        </h4>
        <div id="demo3"
             class="index__slider carousel slide col-md-6"
             data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button"
                        data-bs-target="#demo3"
                        data-bs-slide-to="0"
                        class="active"></button>
                <button type="button"
                        data-bs-target="#demo3"
                        data-bs-slide-to="1"></button>
                <button type="button"
                        data-bs-target="#demo3"
                        data-bs-slide-to="2"></button>
                <button type="button"
                        data-bs-target="#demo3"
                        data-bs-slide-to="3"></button>
                <button type="button"
                        data-bs-target="#demo3"
                        data-bs-slide-to="4"></button>
                <button type="button"
                        data-bs-target="#demo3"
                        data-bs-slide-to="5"></button>
            </div>
            <div class="carousel-inner" id="editor-recommend-mobile">
            </div>
            <button class="carousel-control-prev"
                    type="button"
                    data-bs-target="#demo3"
                    data-bs-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </button>
            <button class="carousel-control-next"
                    type="button"
                    data-bs-target="#demo3"
                    data-bs-slide="next">
                <span class="carousel-control-next-icon"></span>
            </button>
        </div>
    </div>
    <div class="index__btv col-md-9">
        <h4>Biên tập viên đề cử</h4>
        <div id="editor-recommend">
            <div class="index__right-wrap--list row">
                <div class="index__right-wrap--listitem col-md-6 listitem--odd">
                    <div class="book--img">
                        <a href="javascript:void(0)">
                            <img src="/image/test3.jpg" class="book--imgcss">
                        </a>
                    </div>
                    <div class="book--info">
                        <div class="book-name">
                            <a href="/html/truyen.html">Tên truyện mới rất dài dài dài dài dài dàidài dài dài</a>
                        </div>
                        <div class="book-state">
                            <a href="javascript:void(0)">Tác giả</a>
                        </div>
                        <p>
                            <em>
                                <span class="chapters">xxx</span>
                            </em>
                            <cite>Số chương</cite>
                            <i>|</i>
                            <em>
                                <span class="views">xxx</span>
                            </em>
                            <cite>Lượt xem</cite>
                        </p>
                        <div class="category">
                            <p>Thể loại:</p>
                            <p class="category-wrap">
                                <a href="javascript:void(0)">thục sơn</a>
                            </p>
                        </div>
                        <div class="describe">
                            <i class="fa-solid fa-quote-left"></i>
                            Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu v
                            truyện mới 1Giới thiệu về truyện mới 1Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu v
                            truyện mới 1Giới thiệu về truyện mới 1Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu v
                            truyện mới 1Giới thiệu về truyện mới 1
                            Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu v
                            truyện mới 1Giới thiệu về truyện mới 1Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu v
                            truyện mới 1Giới thiệu về truyện mới 1Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu v
                            truyện mới 1Giới thiệu về truyện mới 1
                        </div>
                    </div>
                </div>
                <div class="index__right-wrap--listitem col-md-6 listitem--even">
                    <div class="book--img">
                        <a href="javascript:void(0)">
                            <img src="/image/test3.jpg" class="book--imgcss">
                        </a>
                    </div>
                    <div class="book--info">
                        <div class="book-name">
                            <a href="/html/truyen.html">Tên truyện mới 1</a>
                        </div>
                        <div class="book-state">
                            <a href="javascript:void(0)">Tác giả</a>
                        </div>
                        <p>
                            <em>
                                <span class="chapters">xxx</span>
                            </em>
                            <cite>Số chương</cite>
                            <i>|</i>
                            <em>
                                <span class="views">xxx</span>
                            </em>
                            <cite>Lượt xem</cite>
                        </p>
                        <div class="category">
                            <p>Thể loại:</p>
                            <p class="category-wrap">
                                <a href="javascript:void(0)">thục sơn</a>
                            </p>
                        </div>
                        <div class="describe">
                            <i class="fa-solid fa-quote-left"></i>
                            Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu v
                            truyện mới 1Giới thiệu về truyện mới 1Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu v
                            truyện mới 1Giới thiệu về truyện mới 1Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu v
                            truyện mới 1Giới thiệu về truyện mới 1
                            Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu v
                            truyện mới 1Giới thiệu về truyện mới 1Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu v
                            truyện mới 1Giới thiệu về truyện mới 1Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu v
                            truyện mới 1Giới thiệu về truyện mới 1
                        </div>
                    </div>
                </div>
            </div>
            <div class="index__right-wrap--list row">
                <div class="index__right-wrap--listitem col-md-6 listitem--odd">
                    <div class="book--img">
                        <a href="javascript:void(0)">
                            <img src="/image/test3.jpg" class="book--imgcss">
                        </a>
                    </div>
                    <div class="book--info">
                        <div class="book-name">
                            <a href="/html/truyen.html">Tên truyện mới 1</a>
                        </div>
                        <div class="book-state">
                            <a href="javascript:void(0)">Tác giả</a>
                        </div>
                        <p>
                            <em>
                                <span class="chapters">xxx</span>
                            </em>
                            <cite>Số chương</cite>
                            <i>|</i>
                            <em>
                                <span class="views">xxx</span>
                            </em>
                            <cite>Lượt xem</cite>
                        </p>
                        <div class="category">
                            <p>Thể loại:</p>
                            <p class="category-wrap">
                                <a href="javascript:void(0)">thục sơn</a>
                            </p>
                        </div>
                        <div class="describe">
                            <i class="fa-solid fa-quote-left"></i>
                            Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu v
                            truyện mới 1Giới thiệu về truyện mới 1Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu v
                            truyện mới 1Giới thiệu về truyện mới 1Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu v
                            truyện mới 1Giới thiệu về truyện mới 1
                            Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu v
                            truyện mới 1Giới thiệu về truyện mới 1Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu v
                            truyện mới 1Giới thiệu về truyện mới 1Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu v
                            truyện mới 1Giới thiệu về truyện mới 1
                        </div>
                    </div>
                </div>
                <div class="index__right-wrap--listitem col-md-6 listitem--even">
                    <div class="book--img">
                        <a href="javascript:void(0)">
                            <img src="/image/test3.jpg" class="book--imgcss">
                        </a>
                    </div>
                    <div class="book--info">
                        <div class="book-name">
                            <a href="/html/truyen.html">Tên truyện mới 1</a>
                        </div>
                        <div class="book-state">
                            <a href="javascript:void(0)">Tác giả</a>
                        </div>
                        <p>
                            <em>
                                <span class="chapters">xxx</span>
                            </em>
                            <cite>Số chương</cite>
                            <i>|</i>
                            <em>
                                <span class="views">xxx</span>
                            </em>
                            <cite>Lượt xem</cite>
                        </p>
                        <div class="category">
                            <p>Thể loại:</p>
                            <p class="category-wrap">
                                <a href="javascript:void(0)">thục sơn</a>
                            </p>
                        </div>
                        <div class="describe">
                            <i class="fa-solid fa-quote-left"></i>
                            Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu v
                            truyện mới 1Giới thiệu về truyện mới 1Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu v
                            truyện mới 1Giới thiệu về truyện mới 1Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu v
                            truyện mới 1Giới thiệu về truyện mới 1
                            Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu v
                            truyện mới 1Giới thiệu về truyện mới 1Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu v
                            truyện mới 1Giới thiệu về truyện mới 1Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu v
                            truyện mới 1Giới thiệu về truyện mới 1
                        </div>
                    </div>
                </div>
            </div>
            <div class="index__right-wrap--list row">
                <div class="index__right-wrap--listitem col-md-6 listitem--odd">
                    <div class="book--img">
                        <a href="javascript:void(0)">
                            <img src="/image/test3.jpg" class="book--imgcss">
                        </a>
                    </div>
                    <div class="book--info">
                        <div class="book-name">
                            <a href="/html/truyen.html">Tên truyện mới 1</a>
                        </div>
                        <div class="book-state">
                            <a href="javascript:void(0)">Tác giả</a>
                        </div>
                        <p>
                            <em>
                                <span class="chapters">xxx</span>
                            </em>
                            <cite>Số chương</cite>
                            <i>|</i>
                            <em>
                                <span class="views">xxx</span>
                            </em>
                            <cite>Lượt xem</cite>
                        </p>
                        <div class="category">
                            <p>Thể loại:</p>
                            <p class="category-wrap">
                                <a href="javascript:void(0)">thục sơn</a>
                            </p>
                        </div>
                        <div class="describe">
                            <i class="fa-solid fa-quote-left"></i>
                            Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu v
                            truyện mới 1Giới thiệu về truyện mới 1Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu v
                            truyện mới 1Giới thiệu về truyện mới 1Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu v
                            truyện mới 1Giới thiệu về truyện mới 1
                            Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu v
                            truyện mới 1Giới thiệu về truyện mới 1Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu v
                            truyện mới 1Giới thiệu về truyện mới 1Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu v
                            truyện mới 1Giới thiệu về truyện mới 1
                        </div>
                    </div>
                </div>
                <div class="index__right-wrap--listitem col-md-6 listitem--even">
                    <div class="book--img">
                        <a href="javascript:void(0)">
                            <img src="/image/test3.jpg" class="book--imgcss">
                        </a>
                    </div>
                    <div class="book--info">
                        <div class="book-name">
                            <a href="/html/truyen.html">Tên truyện mới 1</a>
                        </div>
                        <div class="book-state">
                            <a href="javascript:void(0)">Tác giả</a>
                        </div>
                        <p>
                            <em>
                                <span class="chapters">xxx</span>
                            </em>
                            <cite>Số chương</cite>
                            <i>|</i>
                            <em>
                                <span class="views">xxx</span>
                            </em>
                            <cite>Lượt xem</cite>
                        </p>
                        <div class="category">
                            <p>Thể loại:</p>
                            <p class="category-wrap">
                                <a href="javascript:void(0)">thục sơn</a>
                            </p>
                        </div>
                        <div class="describe">
                            <i class="fa-solid fa-quote-left"></i>
                            Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu v
                            truyện mới 1Giới thiệu về truyện mới 1Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu v
                            truyện mới 1Giới thiệu về truyện mới 1Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu v
                            truyện mới 1Giới thiệu về truyện mới 1
                            Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu v
                            truyện mới 1Giới thiệu về truyện mới 1Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu v
                            truyện mới 1Giới thiệu về truyện mới 1Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu v
                            truyện mới 1Giới thiệu về truyện mới 1
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="index__banner">
    <a href="javascript:void(0)"><img src="/image/test.jpg" class="banner-sm"></a>
</div>

<div class="index__row row">
    <div class="index__ranklist col-md-3">
        <h4 class="index__wrap-title">
            Đề Cử
            <a href="/bang-xep-hang?sort_by=recommend">
                Tất cả
                <i class="fa-solid fa-chevron-right"></i>
            </a>
        </h4>
        <div class="ranklist--list">
            <ul class="list-group" id="book-most-recommends">
                <li class="list-group-item">
                    <i class="fa-solid fa-star"></i>
                    <a href="javascript:void(0)">Truyện hot 1</a>
                </li>
                <li class="list-group-item">
                    <i class="fa-solid fa-star"></i>
                    <a href="javascript:void(0)">Truyện hot 2</a>
                </li>
                <li class="list-group-item">
                    <i class="fa-solid fa-star"></i>
                    <a href="javascript:void(0)">Truyện hot 3</a>
                </li>
                <li class="list-group-item">
                    <i class="fa-regular fa-star-half-stroke"></i>
                    <a href="javascript:void(0)">Truyện hot 4</a>
                </li>
                <li class="list-group-item">
                    <i class="fa-regular fa-star-half-stroke"></i>
                    <a href="javascript:void(0)">Truyện hot 5</a>
                </li>
                <li class="list-group-item">
                    <i class="fa-regular fa-star-half-stroke"></i>
                    <a href="javascript:void(0)">Truyện hot 6</a>
                </li>
                <li class="list-group-item">
                    <i class="fa-regular fa-star-half-stroke"></i>
                    <a href="javascript:void(0)">Truyện hot 7</a>
                </li>
                <li class="list-group-item">
                    <i class="fa-regular fa-star"></i>
                    <a href="javascript:void(0)">Truyện hot 8</a>
                </li>
                <li class="list-group-item">
                    <i class="fa-regular fa-star"></i>
                    <a href="javascript:void(0)">Truyện hot 9</a>
                </li>
                <li class="list-group-item">
                    <i class="fa-regular fa-star"></i>
                    <a href="javascript:void(0)">Truyện hot 10</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="index__ranklist col-md-3">
        <h4 class="index__wrap-title">
            Xem nhiều
            <a href="/bang-xep-hang?sort_by=view">
                Tất cả
                <i class="fa-solid fa-chevron-right"></i>
            </a>
        </h4>
        <div class="ranklist--list">
            <ul class="list-group" id="book-most-views">
                <li class="list-group-item">
                    <i class="fa-solid fa-star"></i>
                    <a href="javascript:void(0)">Truyện hot 1</a>
                </li>
                <li class="list-group-item">
                    <i class="fa-solid fa-star"></i>
                    <a href="javascript:void(0)">Truyện hot 2</a>
                </li>
                <li class="list-group-item">
                    <i class="fa-solid fa-star"></i>
                    <a href="javascript:void(0)">Truyện hot 3</a>
                </li>
                <li class="list-group-item">
                    <i class="fa-regular fa-star-half-stroke"></i>
                    <a href="javascript:void(0)">Truyện hot 4</a>
                </li>
                <li class="list-group-item">
                    <i class="fa-regular fa-star-half-stroke"></i>
                    <a href="javascript:void(0)">Truyện hot 5</a>
                </li>
                <li class="list-group-item">
                    <i class="fa-regular fa-star-half-stroke"></i>
                    <a href="javascript:void(0)">Truyện hot 6</a>
                </li>
                <li class="list-group-item">
                    <i class="fa-regular fa-star-half-stroke"></i>
                    <a href="javascript:void(0)">Truyện hot 7</a>
                </li>
                <li class="list-group-item">
                    <i class="fa-regular fa-star"></i>
                    <a href="javascript:void(0)">Truyện hot 8</a>
                </li>
                <li class="list-group-item">
                    <i class="fa-regular fa-star"></i>
                    <a href="javascript:void(0)">Truyện hot 9</a>
                </li>
                <li class="list-group-item">
                    <i class="fa-regular fa-star"></i>
                    <a href="javascript:void(0)">Truyện hot 10</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="index__ranklist col-md-3">
        <h4 class="index__wrap-title">
            Yêu thích
            <a href="/bang-xep-hang?sort_by=like">
                Tất cả
                <i class="fa-solid fa-chevron-right"></i>
            </a>
        </h4>
        <div class="ranklist--list">
            <ul class="list-group" id="book-most-likes">
                <li class="list-group-item">
                    <i class="fa-solid fa-star"></i>
                    <a href="javascript:void(0)">Truyện hot 1</a>
                </li>
                <li class="list-group-item">
                    <i class="fa-solid fa-star"></i>
                    <a href="javascript:void(0)">Truyện hot 2</a>
                </li>
                <li class="list-group-item">
                    <i class="fa-solid fa-star"></i>
                    <a href="javascript:void(0)">Truyện hot 3</a>
                </li>
                <li class="list-group-item">
                    <i class="fa-regular fa-star-half-stroke"></i>
                    <a href="javascript:void(0)">Truyện hot 4</a>
                </li>
                <li class="list-group-item">
                    <i class="fa-regular fa-star-half-stroke"></i>
                    <a href="javascript:void(0)">Truyện hot 5</a>
                </li>
                <li class="list-group-item">
                    <i class="fa-regular fa-star-half-stroke"></i>
                    <a href="javascript:void(0)">Truyện hot 6</a>
                </li>
                <li class="list-group-item">
                    <i class="fa-regular fa-star-half-stroke"></i>
                    <a href="javascript:void(0)">Truyện hot 7</a>
                </li>
                <li class="list-group-item">
                    <i class="fa-regular fa-star"></i>
                    <a href="javascript:void(0)">Truyện hot 8</a>
                </li>
                <li class="list-group-item">
                    <i class="fa-regular fa-star"></i>
                    <a href="javascript:void(0)">Truyện hot 9</a>
                </li>
                <li class="list-group-item">
                    <i class="fa-regular fa-star"></i>
                    <a href="javascript:void(0)">Truyện hot 10</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="index__ranklist col-md-3">
        <h4 class="index__wrap-title">
            Theo dõi nhiều
            <a href="/bang-xep-hang?sort_by=follow">
                Tất cả
                <i class="fa-solid fa-chevron-right"></i>
            </a>
        </h4>
        <div class="ranklist--list">
            <ul class="list-group" id="book-most-follows">
                <li class="list-group-item">
                    <i class="fa-solid fa-star"></i>
                    <a href="javascript:void(0)">Truyện hot 1</a>
                </li>
                <li class="list-group-item">
                    <i class="fa-solid fa-star"></i>
                    <a href="javascript:void(0)">Truyện hot 2</a>
                </li>
                <li class="list-group-item">
                    <i class="fa-solid fa-star"></i>
                    <a href="javascript:void(0)">Truyện hot 3</a>
                </li>
                <li class="list-group-item">
                    <i class="fa-regular fa-star-half-stroke"></i>
                    <a href="javascript:void(0)">Truyện hot 4</a>
                </li>
                <li class="list-group-item">
                    <i class="fa-regular fa-star-half-stroke"></i>
                    <a href="javascript:void(0)">Truyện hot 5</a>
                </li>
                <li class="list-group-item">
                    <i class="fa-regular fa-star-half-stroke"></i>
                    <a href="javascript:void(0)">Truyện hot 6</a>
                </li>
                <li class="list-group-item">
                    <i class="fa-regular fa-star-half-stroke"></i>
                    <a href="javascript:void(0)">Truyện hot 7</a>
                </li>
                <li class="list-group-item">
                    <i class="fa-regular fa-star"></i>
                    <a href="javascript:void(0)">Truyện hot 8</a>
                </li>
                <li class="list-group-item">
                    <i class="fa-regular fa-star"></i>
                    <a href="javascript:void(0)">Truyện hot 9</a>
                </li>
                <li class="list-group-item">
                    <i class="fa-regular fa-star"></i>
                    <a href="javascript:void(0)">Truyện hot 10</a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="index__banner">
    <a href="javascript:void(0)"><img src="/image/test2.jpg" class="banner-sm"></a>
</div>

<div class="index__four__mobile">
    <h4 class="index__truyenmoi--title">
        Truyện mới
        <a href="/bo-loc">
            Tất cả
            <i class="fa-solid fa-chevron-right"></i>
        </a>
    </h4>
    <div id="demo2"
         class="index__slider carousel slide col-md-6"
         data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button"
                    data-bs-target="#demo2"
                    data-bs-slide-to="0"
                    class="active"></button>
            <button type="button"
                    data-bs-target="#demo2"
                    data-bs-slide-to="1"></button>
            <button type="button"
                    data-bs-target="#demo2"
                    data-bs-slide-to="2"></button>
            <button type="button"
                    data-bs-target="#demo2"
                    data-bs-slide-to="3"></button>
            <button type="button"
                    data-bs-target="#demo2"
                    data-bs-slide-to="4"></button>
            <button type="button"
                    data-bs-target="#demo2"
                    data-bs-slide-to="5"></button>
            <button type="button"
                    data-bs-target="#demo2"
                    data-bs-slide-to="6"></button>
            <button type="button"
                    data-bs-target="#demo2"
                    data-bs-slide-to="7"></button>
            <button type="button"
                    data-bs-target="#demo2"
                    data-bs-slide-to="8"></button>
        </div>
        <div class="carousel-inner" id="new-book-mobile">
        </div>
        <button class="carousel-control-prev"
                type="button"
                data-bs-target="#demo2"
                data-bs-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </button>
        <button class="carousel-control-next"
                type="button"
                data-bs-target="#demo2"
                data-bs-slide="next">
            <span class="carousel-control-next-icon"></span>
        </button>
    </div>
</div>

<div id="index__four" class="index__row row">
    <h4 class="index__wrap-title">
        Truyện mới
        <a href="/bo-loc">
            Tất cả
            <i class="fa-solid fa-chevron-right"></i>
        </a>
    </h4>
    <div class="index__left-wrap col-md-3" id="newbook-avatar">
        <div class="index__left-wrap-detail card">
            <img class="card-img-top" src="/image/test.jpg" alt="Card image">
            <div class="card-body">
                <h4 class="card-title">
                    <a href="/html//truyen.html">Vĩnh dạ thần hành</a>
                </h4>
                <p class="card-text index__left-wrap--theloai">Thể loại</p>
                <p class="card-text index__left-wrap--sochuong">Số chương</p>
                <p class="card-text index__left-wrap--gioithieu">
                    <i>
                        Sương mù xám bao phủ, thế giới đắm chìm ở trong bóng tối. Bên tai ngươ
                        i nghe đếnSương mù xám bao phủ, thế giới đắm chìm ở trong bóngSương mù xám bao phủ, thế giới đắm chìm ở trong bón
                        gSương mù xám bao phủ, thế giới đắm chìm ở trong bóngSương mù xám bao phủ, thế giới đắm chìm ở trong bóng
                        i nghe đếnSương mù xám bao phủ, thế giới đắm chìm ở trong bóngSương mù xám bao phủ, thế giới đắm chìm ở trong bón
                        gSương mù xám bao phủ, thế giới đắm chìm ở trong bóngSương mù xám bao phủ, thế giới đắm chìm ở trong bóng
                        i nghe đếnSương mù xám bao phủ, thế giới đắm chìm ở trong bóngSương mù xám bao phủ, thế giới đắm chìm ở trong bón
                        gSương mù xám bao phủ, thế giới đắm chìm ở trong bóngSương mù xám bao phủ, thế giới đắm chìm ở trong bóng
                    </i>
                </p>
                <a href="/html/truyen.html" class="btn btn-primary index__left-wrap--cardbtn">
                    Đọc truyện
                    <i class="fa-solid fa-chevron-right"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="index__right-wrap col-md-9" id="newbook">
        <div class="index__right-wrap--list row">
            <div class="index__right-wrap--listitem col-md-4">
                <div class="book--img">
                    <a href="javascript:void(0)">
                        <img src="/image/test3.jpg" class="book--imgcss">
                    </a>
                </div>
                <div class="book--info">
                    <div class="book-name">
                        <a href="/html/truyen.html">Tên truyện mới 1</a>
                    </div>
                    <div class="book-state">
                        <a href="javascript:void(0)">Tác giả</a>
                    </div>
                    <p>
                        <em>
                            <span class="chapters">xxx</span>
                        </em>
                        <cite>Số chương</cite>
                        <i>|</i>
                        <em>
                            <span class="views">xxx</span>
                        </em>
                        <cite>Lượt xem</cite>
                    </p>
                    <div class="category">
                        <p>Thể loại:</p>
                        <p class="category-wrap">
                            <a href="javascript:void(0)">thục sơn</a>
                        </p>
                    </div>
                    <div class="describe">
                        <i class="fa-solid fa-quote-left"></i>
                        Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu v
                        truyện mới 1Giới thiệu về truyện mới 1Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu v
                        truyện mới 1Giới thiệu về truyện mới 1Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu v
                        truyện mới 1Giới thiệu về truyện mới 1
                        Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu v
                        truyện mới 1Giới thiệu về truyện mới 1Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu v
                        truyện mới 1Giới thiệu về truyện mới 1Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu v
                        truyện mới 1Giới thiệu về truyện mới 1
                    </div>
                </div>
            </div>
            <div class="index__right-wrap--listitem col-md-4">
                <div class="book--img">
                    <a href="javascript:void(0)">
                        <img src="/image/test3.jpg" class="book--imgcss">
                    </a>
                </div>
                <div class="book--info">
                    <div class="book-name">
                        <a href="/html/truyen.html">Tên truyện mới 1</a>
                    </div>
                    <div class="book-state">
                        <a href="javascript:void(0)">Tác giả</a>
                    </div>
                    <p>
                        <em>
                            <span class="chapters">xxx</span>
                        </em>
                        <cite>Số chương</cite>
                        <i>|</i>
                        <em>
                            <span class="views">xxx</span>
                        </em>
                        <cite>Lượt xem</cite>
                    </p>
                    <div class="category">
                        <p>Thể loại:</p>
                        <p class="category-wrap">
                            <a href="javascript:void(0)">thục sơn</a>
                        </p>
                    </div>
                    <div class="describe">
                        <i class="fa-solid fa-quote-left"></i>
                        Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu v
                        truyện mới 1Giới thiệu về truyện mới 1Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu v
                        truyện mới 1Giới thiệu về truyện mới 1Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu v
                        truyện mới 1Giới thiệu về truyện mới 1
                        Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu v
                        truyện mới 1Giới thiệu về truyện mới 1Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu v
                        truyện mới 1Giới thiệu về truyện mới 1Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu v
                        truyện mới 1Giới thiệu về truyện mới 1
                    </div>
                </div>
            </div>
            <div class="index__right-wrap--listitem col-md-4">
                <div class="book--img">
                    <a href="javascript:void(0)">
                        <img src="/image/test3.jpg" class="book--imgcss">
                    </a>
                </div>
                <div class="book--info">
                    <div class="book-name">
                        <a href="/html/truyen.html">Tên truyện mới 1</a>
                    </div>
                    <div class="book-state">
                        <a href="javascript:void(0)">Tác giả</a>
                    </div>
                    <p>
                        <em>
                            <span class="chapters">xxx</span>
                        </em>
                        <cite>Số chương</cite>
                        <i>|</i>
                        <em>
                            <span class="views">xxx</span>
                        </em>
                        <cite>Lượt xem</cite>
                    </p>
                    <div class="category">
                        <p>Thể loại:</p>
                        <p class="category-wrap">
                            <a href="javascript:void(0)">thục sơn</a>
                        </p>
                    </div>
                    <div class="describe">
                        <i class="fa-solid fa-quote-left"></i>
                        Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu v
                        truyện mới 1Giới thiệu về truyện mới 1Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu v
                        truyện mới 1Giới thiệu về truyện mới 1Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu v
                        truyện mới 1Giới thiệu về truyện mới 1
                        Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu v
                        truyện mới 1Giới thiệu về truyện mới 1Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu v
                        truyện mới 1Giới thiệu về truyện mới 1Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu v
                        truyện mới 1Giới thiệu về truyện mới 1
                    </div>
                </div>
            </div>
        </div>
        <div class="index__right-wrap--list row">
            <div class="index__right-wrap--listitem col-md-4">
                <div class="book--img">
                    <a href="javascript:void(0)">
                        <img src="/image/test3.jpg" class="book--imgcss">
                    </a>
                </div>
                <div class="book--info">
                    <div class="book-name">
                        <a href="/html/truyen.html">Tên truyện mới 1</a>
                    </div>
                    <div class="book-state">
                        <a href="javascript:void(0)">Tác giả</a>
                    </div>
                    <p>
                        <em>
                            <span class="chapters">xxx</span>
                        </em>
                        <cite>Số chương</cite>
                        <i>|</i>
                        <em>
                            <span class="views">xxx</span>
                        </em>
                        <cite>Lượt xem</cite>
                    </p>
                    <div class="category">
                        <p>Thể loại:</p>
                        <p class="category-wrap">
                            <a href="javascript:void(0)">thục sơn</a>
                        </p>
                    </div>
                    <div class="describe">
                        <i class="fa-solid fa-quote-left"></i>
                        Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu v
                        truyện mới 1Giới thiệu về truyện mới 1Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu v
                        truyện mới 1Giới thiệu về truyện mới 1Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu v
                        truyện mới 1Giới thiệu về truyện mới 1
                        Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu v
                        truyện mới 1Giới thiệu về truyện mới 1Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu v
                        truyện mới 1Giới thiệu về truyện mới 1Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu v
                        truyện mới 1Giới thiệu về truyện mới 1
                    </div>
                </div>
            </div>
            <div class="index__right-wrap--listitem col-md-4">
                <div class="book--img">
                    <a href="javascript:void(0)">
                        <img src="/image/test3.jpg" class="book--imgcss">
                    </a>
                </div>
                <div class="book--info">
                    <div class="book-name">
                        <a href="/html/truyen.html">Tên truyện mới 1</a>
                    </div>
                    <div class="book-state">
                        <a href="javascript:void(0)">Tác giả</a>
                    </div>
                    <p>
                        <em>
                            <span class="chapters">xxx</span>
                        </em>
                        <cite>Số chương</cite>
                        <i>|</i>
                        <em>
                            <span class="views">xxx</span>
                        </em>
                        <cite>Lượt xem</cite>
                    </p>
                    <div class="category">
                        <p>Thể loại:</p>
                        <p class="category-wrap">
                            <a href="javascript:void(0)">thục sơn</a>
                        </p>
                    </div>
                    <div class="describe">
                        <i class="fa-solid fa-quote-left"></i>
                        Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu v
                        truyện mới 1Giới thiệu về truyện mới 1Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu v
                        truyện mới 1Giới thiệu về truyện mới 1Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu v
                        truyện mới 1Giới thiệu về truyện mới 1
                        Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu v
                        truyện mới 1Giới thiệu về truyện mới 1Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu v
                        truyện mới 1Giới thiệu về truyện mới 1Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu v
                        truyện mới 1Giới thiệu về truyện mới 1
                    </div>
                </div>
            </div>
            <div class="index__right-wrap--listitem col-md-4">
                <div class="book--img">
                    <a href="javascript:void(0)">
                        <img src="/image/test3.jpg" class="book--imgcss">
                    </a>
                </div>
                <div class="book--info">
                    <div class="book-name">
                        <a href="/html/truyen.html">Tên truyện mới 1</a>
                    </div>
                    <div class="book-state">
                        <a href="javascript:void(0)">Tác giả</a>
                    </div>
                    <p>
                        <em>
                            <span class="chapters">xxx</span>
                        </em>
                        <cite>Số chương</cite>
                        <i>|</i>
                        <em>
                            <span class="views">xxx</span>
                        </em>
                        <cite>Lượt xem</cite>
                    </p>
                    <div class="category">
                        <p>Thể loại:</p>
                        <p class="category-wrap">
                            <a href="javascript:void(0)">thục sơn</a>
                        </p>
                    </div>
                    <div class="describe">
                        <i class="fa-solid fa-quote-left"></i>
                        Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu v
                        truyện mới 1Giới thiệu về truyện mới 1Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu v
                        truyện mới 1Giới thiệu về truyện mới 1Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu v
                        truyện mới 1Giới thiệu về truyện mới 1
                        Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu v
                        truyện mới 1Giới thiệu về truyện mới 1Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu v
                        truyện mới 1Giới thiệu về truyện mới 1Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu v
                        truyện mới 1Giới thiệu về truyện mới 1
                    </div>
                </div>
            </div>
        </div>
        <div class="index__right-wrap--list row">
            <div class="index__right-wrap--listitem col-md-4">
                <div class="book--img">
                    <a href="javascript:void(0)">
                        <img src="/image/test3.jpg" class="book--imgcss">
                    </a>
                </div>
                <div class="book--info">
                    <div class="book-name">
                        <a href="/html/truyen.html">Tên truyện mới 1</a>
                    </div>
                    <div class="book-state">
                        <a href="javascript:void(0)">Tác giả</a>
                    </div>
                    <p>
                        <em>
                            <span class="chapters">xxx</span>
                        </em>
                        <cite>Số chương</cite>
                        <i>|</i>
                        <em>
                            <span class="views">xxx</span>
                        </em>
                        <cite>Lượt xem</cite>
                    </p>
                    <div class="category">
                        <p>Thể loại:</p>
                        <p class="category-wrap">
                            <a href="javascript:void(0)">thục sơn</a>
                        </p>
                    </div>
                    <div class="describe">
                        <i class="fa-solid fa-quote-left"></i>
                        Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu v
                        truyện mới 1Giới thiệu về truyện mới 1Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu v
                        truyện mới 1Giới thiệu về truyện mới 1Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu v
                        truyện mới 1Giới thiệu về truyện mới 1
                        Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu v
                        truyện mới 1Giới thiệu về truyện mới 1Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu v
                        truyện mới 1Giới thiệu về truyện mới 1Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu v
                        truyện mới 1Giới thiệu về truyện mới 1
                    </div>
                </div>
            </div>
            <div class="index__right-wrap--listitem col-md-4">
                <div class="book--img">
                    <a href="javascript:void(0)">
                        <img src="/image/test3.jpg" class="book--imgcss">
                    </a>
                </div>
                <div class="book--info">
                    <div class="book-name">
                        <a href="/html/truyen.html">Tên truyện mới 1</a>
                    </div>
                    <div class="book-state">
                        <a href="javascript:void(0)">Tác giả</a>
                    </div>
                    <p>
                        <em>
                            <span class="chapters">xxx</span>
                        </em>
                        <cite>Số chương</cite>
                        <i>|</i>
                        <em>
                            <span class="views">xxx</span>
                        </em>
                        <cite>Lượt xem</cite>
                    </p>
                    <div class="category">
                        <p>Thể loại:</p>
                        <p class="category-wrap">
                            <a href="javascript:void(0)">thục sơn</a>
                        </p>
                    </div>
                    <div class="describe">
                        <i class="fa-solid fa-quote-left"></i>
                        Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu v
                        truyện mới 1Giới thiệu về truyện mới 1Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu v
                        truyện mới 1Giới thiệu về truyện mới 1Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu v
                        truyện mới 1Giới thiệu về truyện mới 1
                        Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu v
                        truyện mới 1Giới thiệu về truyện mới 1Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu v
                        truyện mới 1Giới thiệu về truyện mới 1Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu v
                        truyện mới 1Giới thiệu về truyện mới 1
                    </div>
                </div>
            </div>
            <div class="index__right-wrap--listitem col-md-4">
                <div class="book--img">
                    <a href="javascript:void(0)">
                        <img src="/image/test3.jpg" class="book--imgcss">
                    </a>
                </div>
                <div class="book--info">
                    <div class="book-name">
                        <a href="/html/truyen.html">Tên truyện mới 1</a>
                    </div>
                    <div class="book-state">
                        <a href="javascript:void(0)">Tác giả</a>
                    </div>
                    <p>
                        <em>
                            <span class="chapters">xxx</span>
                        </em>
                        <cite>Số chương</cite>
                        <i>|</i>
                        <em>
                            <span class="views">xxx</span>
                        </em>
                        <cite>Lượt xem</cite>
                    </p>
                    <div class="category">
                        <p>Thể loại:</p>
                        <p class="category-wrap">
                            <a href="javascript:void(0)">thục sơn</a>
                        </p>
                    </div>
                    <div class="describe">
                        <i class="fa-solid fa-quote-left"></i>
                        Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu v
                        truyện mới 1Giới thiệu về truyện mới 1Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu v
                        truyện mới 1Giới thiệu về truyện mới 1Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu v
                        truyện mới 1Giới thiệu về truyện mới 1
                        Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu v
                        truyện mới 1Giới thiệu về truyện mới 1Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu v
                        truyện mới 1Giới thiệu về truyện mới 1Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu v
                        truyện mới 1Giới thiệu về truyện mới 1
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="index__banner">
    <a href="javascript:void(0)"><img src="/image/test.jpg" class="banner-sm"></a>
</div>

<div class="index__five__mobile">
    <h4 class="index__truyenhoanthanh--title">
        Truyện hoàn thành
        <a href="/bo-loc">
            Tất cả
            <i class="fa-solid fa-chevron-right"></i>
        </a>
    </h4>
    <div id="demo1"
         class="index__slider carousel slide col-md-6"
         data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button"
                    data-bs-target="#demo1"
                    data-bs-slide-to="0"
                    class="active"></button>
            <button type="button"
                    data-bs-target="#demo1"
                    data-bs-slide-to="1"></button>
            <button type="button"
                    data-bs-target="#demo1"
                    data-bs-slide-to="2"></button>
            <button type="button"
                    data-bs-target="#demo1"
                    data-bs-slide-to="3"></button>
            <button type="button"
                    data-bs-target="#demo1"
                    data-bs-slide-to="4"></button>
            <button type="button"
                    data-bs-target="#demo1"
                    data-bs-slide-to="5"></button>
            <button type="button"
                    data-bs-target="#demo1"
                    data-bs-slide-to="6"></button>
            <button type="button"
                    data-bs-target="#demo1"
                    data-bs-slide-to="7"></button>
            <button type="button"
                    data-bs-target="#demo1"
                    data-bs-slide-to="8"></button>
        </div>
        <div class="carousel-inner" id="finish-book-mobile">
            
        </div>
        <button class="carousel-control-prev"
                type="button"
                data-bs-target="#demo1"
                data-bs-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </button>
        <button class="carousel-control-next"
                type="button"
                data-bs-target="#demo1"
                data-bs-slide="next">
            <span class="carousel-control-next-icon"></span>
        </button>
    </div>
</div>

<div id="index__five" class="index__row row">
    <h4 class="index__wrap-title">
        Truyện hoàn thành
        <a href="/bo-loc">
            Tất cả
            <i class="fa-solid fa-chevron-right"></i>
        </a>
    </h4>
    <div class="index__left-wrap col-md-3" id="finishbook-avatar">
        <div class="index__left-wrap-detail card">
            <img class="card-img-top" src="/image/test2.jpg" alt="Card image">
            <div class="card-body">
                <h4 class="card-title">
                    <a href="/html/truyen.html">Vĩnh dạ thần hành</a>
                </h4>
                <p class="card-text index__left-wrap--theloai">Thể loại</p>
                <p class="card-text index__left-wrap--sochuong">Số chương</p>
                <p class="card-text index__left-wrap--gioithieu">
                    <i>
                        Sương mù xám bao phủ, thế giới đắm chìm ở trong bóng tối. Bên tai ngươ
                        i nghe đếnSương mù xám bao phủ, thế giới đắm chìm ở trong bóngSương mù xám bao phủ, thế giới đắm chìm ở trong bón
                        gSương mù xám bao phủ, thế giới đắm chìm ở trong bóngSương mù xám bao phủ, thế giới đắm chìm ở trong bóng
                        i nghe đếnSương mù xám bao phủ, thế giới đắm chìm ở trong bóngSương mù xám bao phủ, thế giới đắm chìm ở trong bón
                        gSương mù xám bao phủ, thế giới đắm chìm ở trong bóngSương mù xám bao phủ, thế giới đắm chìm ở trong bóng
                        i nghe đếnSương mù xám bao phủ, thế giới đắm chìm ở trong bóngSương mù xám bao phủ, thế giới đắm chìm ở trong bón
                        gSương mù xám bao phủ, thế giới đắm chìm ở trong bóngSương mù xám bao phủ, thế giới đắm chìm ở trong bóng
                    </i>
                </p>
                <a href="/html/truyen.html" class="btn btn-primary index__left-wrap--cardbtn">
                    Đọc truyện
                    <i class="fa-solid fa-chevron-right"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="index__right-wrap col-md-9" id="finishbook">
        <div class="index__right-wrap--list row">
            <div class="index__right-wrap--listitem col-md-4">
                <div class="book--img">
                    <a href="javascript:void(0)">
                        <img src="/image/test3.jpg" class="book--imgcss">
                    </a>
                </div>
                <div class="book--info">
                    <div class="book-name">
                        <a href="/html/truyen.html">Tên truyện mới 1</a>
                    </div>
                    <div class="book-state">
                        <a href="javascript:void(0)">Tác giả</a>
                    </div>
                    <p>
                        <em>
                            <span class="chapters">xxx</span>
                        </em>
                        <cite>Số chương</cite>
                        <i>|</i>
                        <em>
                            <span class="views">xxx</span>
                        </em>
                        <cite>Lượt xem</cite>
                    </p>
                    <div class="category">
                        <p>Thể loại:</p>
                        <p class="category-wrap">
                            <a href="javascript:void(0)">thục sơn</a>
                        </p>
                    </div>
                    <div class="describe">
                        <i class="fa-solid fa-quote-left"></i>
                        Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu v
                        truyện mới 1Giới thiệu về truyện mới 1Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu v
                        truyện mới 1Giới thiệu về truyện mới 1Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu v
                        truyện mới 1Giới thiệu về truyện mới 1
                        Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu v
                        truyện mới 1Giới thiệu về truyện mới 1Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu v
                        truyện mới 1Giới thiệu về truyện mới 1Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu v
                        truyện mới 1Giới thiệu về truyện mới 1
                    </div>
                </div>
            </div>
            <div class="index__right-wrap--listitem col-md-4">
                <div class="book--img">
                    <a href="javascript:void(0)">
                        <img src="/image/test3.jpg" class="book--imgcss">
                    </a>
                </div>
                <div class="book--info">
                    <div class="book-name">
                        <a href="/html/truyen.html">Tên truyện mới 1</a>
                    </div>
                    <div class="book-state">
                        <a href="javascript:void(0)">Tác giả</a>
                    </div>
                    <p>
                        <em>
                            <span class="chapters">xxx</span>
                        </em>
                        <cite>Số chương</cite>
                        <i>|</i>
                        <em>
                            <span class="views">xxx</span>
                        </em>
                        <cite>Lượt xem</cite>
                    </p>
                    <div class="category">
                        <p>Thể loại:</p>
                        <p class="category-wrap">
                            <a href="javascript:void(0)">thục sơn</a>
                        </p>
                    </div>
                    <div class="describe">
                        <i class="fa-solid fa-quote-left"></i>
                        Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu v
                        truyện mới 1Giới thiệu về truyện mới 1Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu v
                        truyện mới 1Giới thiệu về truyện mới 1Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu v
                        truyện mới 1Giới thiệu về truyện mới 1
                        Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu v
                        truyện mới 1Giới thiệu về truyện mới 1Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu v
                        truyện mới 1Giới thiệu về truyện mới 1Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu v
                        truyện mới 1Giới thiệu về truyện mới 1
                    </div>
                </div>
            </div>
            <div class="index__right-wrap--listitem col-md-4">
                <div class="book--img">
                    <a href="javascript:void(0)">
                        <img src="/image/test3.jpg" class="book--imgcss">
                    </a>
                </div>
                <div class="book--info">
                    <div class="book-name">
                        <a href="/html/truyen.html">Tên truyện mới 1</a>
                    </div>
                    <div class="book-state">
                        <a href="javascript:void(0)">Tác giả</a>
                    </div>
                    <p>
                        <em>
                            <span class="chapters">xxx</span>
                        </em>
                        <cite>Số chương</cite>
                        <i>|</i>
                        <em>
                            <span class="views">xxx</span>
                        </em>
                        <cite>Lượt xem</cite>
                    </p>
                    <div class="category">
                        <p>Thể loại:</p>
                        <p class="category-wrap">
                            <a href="javascript:void(0)">thục sơn</a>
                        </p>
                    </div>
                    <div class="describe">
                        <i class="fa-solid fa-quote-left"></i>
                        Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu v
                        truyện mới 1Giới thiệu về truyện mới 1Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu v
                        truyện mới 1Giới thiệu về truyện mới 1Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu v
                        truyện mới 1Giới thiệu về truyện mới 1
                        Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu v
                        truyện mới 1Giới thiệu về truyện mới 1Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu v
                        truyện mới 1Giới thiệu về truyện mới 1Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu v
                        truyện mới 1Giới thiệu về truyện mới 1
                    </div>
                </div>
            </div>
        </div>
        <div class="index__right-wrap--list row">
            <div class="index__right-wrap--listitem col-md-4">
                <div class="book--img">
                    <a href="javascript:void(0)">
                        <img src="/image/test3.jpg" class="book--imgcss">
                    </a>
                </div>
                <div class="book--info">
                    <div class="book-name">
                        <a href="/html/truyen.html">Tên truyện mới 1</a>
                    </div>
                    <div class="book-state">
                        <a href="javascript:void(0)">Tác giả</a>
                    </div>
                    <p>
                        <em>
                            <span class="chapters">xxx</span>
                        </em>
                        <cite>Số chương</cite>
                        <i>|</i>
                        <em>
                            <span class="views">xxx</span>
                        </em>
                        <cite>Lượt xem</cite>
                    </p>
                    <div class="category">
                        <p>Thể loại:</p>
                        <p class="category-wrap">
                            <a href="javascript:void(0)">thục sơn</a>
                        </p>
                    </div>
                    <div class="describe">
                        <i class="fa-solid fa-quote-left"></i>
                        Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu v
                        truyện mới 1Giới thiệu về truyện mới 1Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu v
                        truyện mới 1Giới thiệu về truyện mới 1Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu v
                        truyện mới 1Giới thiệu về truyện mới 1
                        Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu v
                        truyện mới 1Giới thiệu về truyện mới 1Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu v
                        truyện mới 1Giới thiệu về truyện mới 1Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu v
                        truyện mới 1Giới thiệu về truyện mới 1
                    </div>
                </div>
            </div>
            <div class="index__right-wrap--listitem col-md-4">
                <div class="book--img">
                    <a href="javascript:void(0)">
                        <img src="/image/test3.jpg" class="book--imgcss">
                    </a>
                </div>
                <div class="book--info">
                    <div class="book-name">
                        <a href="/html/truyen.html">Tên truyện mới 1</a>
                    </div>
                    <div class="book-state">
                        <a href="javascript:void(0)">Tác giả</a>
                    </div>
                    <p>
                        <em>
                            <span class="chapters">xxx</span>
                        </em>
                        <cite>Số chương</cite>
                        <i>|</i>
                        <em>
                            <span class="views">xxx</span>
                        </em>
                        <cite>Lượt xem</cite>
                    </p>
                    <div class="category">
                        <p>Thể loại:</p>
                        <p class="category-wrap">
                            <a href="javascript:void(0)">thục sơn</a>
                        </p>
                    </div>
                    <div class="describe">
                        <i class="fa-solid fa-quote-left"></i>
                        Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu v
                        truyện mới 1Giới thiệu về truyện mới 1Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu v
                        truyện mới 1Giới thiệu về truyện mới 1Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu v
                        truyện mới 1Giới thiệu về truyện mới 1
                        Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu v
                        truyện mới 1Giới thiệu về truyện mới 1Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu v
                        truyện mới 1Giới thiệu về truyện mới 1Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu v
                        truyện mới 1Giới thiệu về truyện mới 1
                    </div>
                </div>
            </div>
            <div class="index__right-wrap--listitem col-md-4">
                <div class="book--img">
                    <a href="javascript:void(0)">
                        <img src="/image/test3.jpg" class="book--imgcss">
                    </a>
                </div>
                <div class="book--info">
                    <div class="book-name">
                        <a href="/html/truyen.html">Tên truyện mới 1</a>
                    </div>
                    <div class="book-state">
                        <a href="javascript:void(0)">Tác giả</a>
                    </div>
                    <p>
                        <em>
                            <span class="chapters">xxx</span>
                        </em>
                        <cite>Số chương</cite>
                        <i>|</i>
                        <em>
                            <span class="views">xxx</span>
                        </em>
                        <cite>Lượt xem</cite>
                    </p>
                    <div class="category">
                        <p>Thể loại:</p>
                        <p class="category-wrap">
                            <a href="javascript:void(0)">thục sơn</a>
                        </p>
                    </div>
                    <div class="describe">
                        <i class="fa-solid fa-quote-left"></i>
                        Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu v
                        truyện mới 1Giới thiệu về truyện mới 1Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu v
                        truyện mới 1Giới thiệu về truyện mới 1Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu v
                        truyện mới 1Giới thiệu về truyện mới 1
                        Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu v
                        truyện mới 1Giới thiệu về truyện mới 1Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu v
                        truyện mới 1Giới thiệu về truyện mới 1Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu v
                        truyện mới 1Giới thiệu về truyện mới 1
                    </div>
                </div>
            </div>
        </div>
        <div class="index__right-wrap--list row">
            <div class="index__right-wrap--listitem col-md-4">
                <div class="book--img">
                    <a href="javascript:void(0)">
                        <img src="/image/test3.jpg" class="book--imgcss">
                    </a>
                </div>
                <div class="book--info">
                    <div class="book-name">
                        <a href="/html/truyen.html">Tên truyện mới 1</a>
                    </div>
                    <div class="book-state">
                        <a href="javascript:void(0)">Tác giả</a>
                    </div>
                    <p>
                        <em>
                            <span class="chapters">xxx</span>
                        </em>
                        <cite>Số chương</cite>
                        <i>|</i>
                        <em>
                            <span class="views">xxx</span>
                        </em>
                        <cite>Lượt xem</cite>
                    </p>
                    <div class="category">
                        <p>Thể loại:</p>
                        <p class="category-wrap">
                            <a href="javascript:void(0)">thục sơn</a>
                        </p>
                    </div>
                    <div class="describe">
                        <i class="fa-solid fa-quote-left"></i>
                        Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu v
                        truyện mới 1Giới thiệu về truyện mới 1Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu v
                        truyện mới 1Giới thiệu về truyện mới 1Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu v
                        truyện mới 1Giới thiệu về truyện mới 1
                        Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu v
                        truyện mới 1Giới thiệu về truyện mới 1Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu v
                        truyện mới 1Giới thiệu về truyện mới 1Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu v
                        truyện mới 1Giới thiệu về truyện mới 1
                    </div>
                </div>
            </div>
            <div class="index__right-wrap--listitem col-md-4">
                <div class="book--img">
                    <a href="javascript:void(0)">
                        <img src="/image/test3.jpg" class="book--imgcss">
                    </a>
                </div>
                <div class="book--info">
                    <div class="book-name">
                        <a href="/html/truyen.html">Tên truyện mới 1</a>
                    </div>
                    <div class="book-state">
                        <a href="javascript:void(0)">Tác giả</a>
                    </div>
                    <p>
                        <em>
                            <span class="chapters">xxx</span>
                        </em>
                        <cite>Số chương</cite>
                        <i>|</i>
                        <em>
                            <span class="views">xxx</span>
                        </em>
                        <cite>Lượt xem</cite>
                    </p>
                    <div class="category">
                        <p>Thể loại:</p>
                        <p class="category-wrap">
                            <a href="javascript:void(0)">thục sơn</a>
                        </p>
                    </div>
                    <div class="describe">
                        <i class="fa-solid fa-quote-left"></i>
                        Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu v
                        truyện mới 1Giới thiệu về truyện mới 1Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu v
                        truyện mới 1Giới thiệu về truyện mới 1Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu v
                        truyện mới 1Giới thiệu về truyện mới 1
                        Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu v
                        truyện mới 1Giới thiệu về truyện mới 1Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu v
                        truyện mới 1Giới thiệu về truyện mới 1Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu v
                        truyện mới 1Giới thiệu về truyện mới 1
                    </div>
                </div>
            </div>
            <div class="index__right-wrap--listitem col-md-4">
                <div class="book--img">
                    <a href="javascript:void(0)">
                        <img src="/image/test3.jpg" class="book--imgcss">
                    </a>
                </div>
                <div class="book--info">
                    <div class="book-name">
                        <a href="/html/truyen.html">Tên truyện mới 1</a>
                    </div>
                    <div class="book-state">
                        <a href="javascript:void(0)">Tác giả</a>
                    </div>
                    <p>
                        <em>
                            <span class="chapters">xxx</span>
                        </em>
                        <cite>Số chương</cite>
                        <i>|</i>
                        <em>
                            <span class="views">xxx</span>
                        </em>
                        <cite>Lượt xem</cite>
                    </p>
                    <div class="category">
                        <p>Thể loại:</p>
                        <p class="category-wrap">
                            <a href="javascript:void(0)">thục sơn</a>
                        </p>
                    </div>
                    <div class="describe">
                        <i class="fa-solid fa-quote-left"></i>
                        Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu v
                        truyện mới 1Giới thiệu về truyện mới 1Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu v
                        truyện mới 1Giới thiệu về truyện mới 1Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu v
                        truyện mới 1Giới thiệu về truyện mới 1
                        Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu v
                        truyện mới 1Giới thiệu về truyện mới 1Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu v
                        truyện mới 1Giới thiệu về truyện mới 1Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu về truyện mới 1 Giới thiệu v
                        truyện mới 1Giới thiệu về truyện mới 1
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script type="text/javascript" src="~/content/index.js"></script>
    @*<script>

        function myFunction(a) {

            if (a.matches) {
                var slideIndex = 1;



                document.getElementById("btn-next").addEventListener('click', function () { plusDivs(1) })
                document.getElementById("btn-prev").addEventListener('click', function () { plusDivs(-1) })
                function plusDivs(n) {
                    showDivs(slideIndex += n);
                }
                function currentDiv(n) {
                    showDivs(slideIndex = n);
                }
                showDivs(slideIndex);
                function showDivs(n) {
                    var i;
                    var x = document.getElementsByClassName("index__right-wrap--listitem1");

                    if (n > x.length) { slideIndex = 1 }
                    if (n < 1) { slideIndex = x.length }
                    for (i = 0; i < x.length; i++) {
                        x[i].style.display = "none";
                    }
                    x[slideIndex - 1].style.display = "block";
                }


            } else {
                document.querySelectorAll("index__right-wrap--listitem").forEach((elm) => elm.style.display = "block")
            }
        }

        var a = window.matchMedia("(max-width: 768px)")
        myFunction(a)
        a.addListener(myFunction)



    </script>*@
}